In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
dataset = pd.read_csv('sample.csv')
dataset

,EmployeeID,EmployeeName,TaskAssigned,TaskCompleted,DeadlinesMet,DeadlinesMissed,number of EOM,EOM points (agg),EOY(points),Manager Score
0,1,abv,129,36,47,93,7,63,64,29
1,2,abv,399,96,30,303,10,759,61,27
2,3,abv,243,172,210,71,7,650,0,36
3,4,abv,355,328,40,27,10,1047,91,27
4,5,abv,31,20,19,11,2,632,17,22
...,...,...,...,...,...,...,...,...,...,...
194,195,abv,379,252,9,127,10,322,5,60
195,196,abv,115,40,73,75,1,1155,37,46
196,197,abv,362,42,21,320,6,528,61,86
197,198,abv,139,17,107,122,5,465,37,99
198,199,abv,248,55,175,193,5,484,85,29

In [ ]:
x = dataset.iloc(:,2:10)
y = dataset.iloc(:,10)#10 will have efficiency